{% extends 'preload.html' %}

{% block layout %}
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">$FXML</a>
      {% if mode %}
        <span class="badge text-bg-success">LIVE</span>
      {% else %}
        <span class="badge text-bg-warning">DEV</span>
      {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('relativestrength') }}">Relative Strength</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('news') }}">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('positionSizing') }}">Position Sizing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('accounts') }}">Accounts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
          </li>

        </ul>
      </div>
    </div>
</nav>

<br/>

<main role="main">
  {% block content %}
  {% endblock %}
</main>

<footer class="mt-auto" id="footer">
  <div class="container">
    <p>&copy; Copyright FXML 2022-2023</p>
  </div>
</footer>
  {% endblock %}