{% extends 'layout.html' %}
{% block title %}$FXML: /Relative Strength{% endblock %}

{% block content %}
    <div class="container">    
        <h1>Relative Strength</h1>
        <div class="table-responsive-md">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col" colspan="16" class="title">Relative Strength Indicator</th>
                    </tr>
                    <tr>
                      <th scope="col" colspan="2" class="AUD">AUD</th>
                      <th scope="col" colspan="2" class="CAD">CAD</th>
                      <th scope="col" colspan="2" class="CHF">CHF</th>
                      <th scope="col" colspan="2" class="EUR">EUR</th>
                      <th scope="col" colspan="2" class="GBP">GBP</th>
                      <th scope="col" colspan="2" class="JPY">JPY</th>
                      <th scope="col" colspan="2" class="NZD">NZD</th>
                      <th scope="col" colspan="2" class="USD">USD</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Row 1 -->
                    <tr>
                        <td class="AUD">
                            AUDCAD
                        </td>
                        <td class="AUD">
                            0
                        </td>
                        <td class="CAD">
                            AUDCAD
                        </td>
                        <td class="CAD">
                            1
                        </td>
                        <td class="CHF">
                            AUDCHF
                        </td>
                        <td class="CHF">
                            1
                        </td>
                        <td class="EUR">
                            EURAUD
                        </td>
                        <td class="EUR">
                            0
                        </td>
                        <td class="GBP">
                            EURGBP
                        </td>
                        <td class="GBP">
                            0
                        </td>
                        <td class="JPY">
                            AUDJPY
                        </td>
                        <td class="JPY">
                            0
                        </td>
                        <td class="NZD">
                            AUDNZD
                        </td>
                        <td class="NZD">
                            0
                        </td>
                        <td class="USD">
                            AUDUSD
                        </td>
                        <td class="USD">
                            1
                        </td>
                    </tr>
                    <!-- Row 2 -->
                    <tr>
                        <td class="AUD">
                            AUDCAD
                        </td>
                        <td class="AUD">
                            0
                        </td>
                        <td class="CAD">
                            AUDCAD
                        </td>
                        <td class="CAD">
                            1
                        </td>
                        <td class="CHF">
                            AUDCHF
                        </td>
                        <td class="CHF">
                            1
                        </td>
                        <td class="EUR">
                            EURAUD
                        </td>
                        <td class="EUR">
                            0
                        </td>
                        <td class="GBP">
                            EURGBP
                        </td>
                        <td class="GBP">
                            0
                        </td>
                        <td class="JPY">
                            AUDJPY
                        </td>
                        <td class="JPY">
                            0
                        </td>
                        <td class="NZD">
                            AUDNZD
                        </td>
                        <td class="NZD">
                            0
                        </td>
                        <td class="USD">
                            AUDUSD
                        </td>
                        <td class="USD">
                            1
                        </td>
                    </tr>
                    <!-- Row 3 -->
                    <tr>
                        <td class="AUD">
                            AUDCAD
                        </td>
                        <td class="AUD">
                            0
                        </td>
                        <td class="CAD">
                            AUDCAD
                        </td>
                        <td class="CAD">
                            1
                        </td>
                        <td class="CHF">
                            AUDCHF
                        </td>
                        <td class="CHF">
                            1
                        </td>
                        <td class="EUR">
                            EURAUD
                        </td>
                        <td class="EUR">
                            0
                        </td>
                        <td class="GBP">
                            EURGBP
                        </td>
                        <td class="GBP">
                            0
                        </td>
                        <td class="JPY">
                            AUDJPY
                        </td>
                        <td class="JPY">
                            0
                        </td>
                        <td class="NZD">
                            AUDNZD
                        </td>
                        <td class="NZD">
                            0
                        </td>
                        <td class="USD">
                            AUDUSD
                        </td>
                        <td class="USD">
                            1
                        </td>
                    </tr>
                    <!-- Row 4 -->
                    <tr>
                        <td class="AUD">
                            AUDCAD
                        </td>
                        <td class="AUD">
                            0
                        </td>
                        <td class="CAD">
                            AUDCAD
                        </td>
                        <td class="CAD">
                            1
                        </td>
                        <td class="CHF">
                            AUDCHF
                        </td>
                        <td class="CHF">
                            1
                        </td>
                        <td class="EUR">
                            EURAUD
                        </td>
                        <td class="EUR">
                            0
                        </td>
                        <td class="GBP">
                            EURGBP
                        </td>
                        <td class="GBP">
                            0
                        </td>
                        <td class="JPY">
                            AUDJPY
                        </td>
                        <td class="JPY">
                            0
                        </td>
                        <td class="NZD">
                            AUDNZD
                        </td>
                        <td class="NZD">
                            0
                        </td>
                        <td class="USD">
                            AUDUSD
                        </td>
                        <td class="USD">
                            1
                        </td>
                    </tr>
                    <!-- Row 5 -->
                    <tr>
                        <td class="AUD">
                            AUDCAD
                        </td>
                        <td class="AUD">
                            0
                        </td>
                        <td class="CAD">
                            AUDCAD
                        </td>
                        <td class="CAD">
                            1
                        </td>
                        <td class="CHF">
                            AUDCHF
                        </td>
                        <td class="CHF">
                            1
                        </td>
                        <td class="EUR">
                            EURAUD
                        </td>
                        <td class="EUR">
                            0
                        </td>
                        <td class="GBP">
                            EURGBP
                        </td>
                        <td class="GBP">
                            0
                        </td>
                        <td class="JPY">
                            AUDJPY
                        </td>
                        <td class="JPY">
                            0
                        </td>
                        <td class="NZD">
                            AUDNZD
                        </td>
                        <td class="NZD">
                            0
                        </td>
                        <td class="USD">
                            AUDUSD
                        </td>
                        <td class="USD">
                            1
                        </td>
                    </tr>
                    <!-- Row 6 -->
                    <tr>
                        <td class="AUD">
                            AUDCAD
                        </td>
                        <td class="AUD">
                            0
                        </td>
                        <td class="CAD">
                            AUDCAD
                        </td>
                        <td class="CAD">
                            1
                        </td>
                        <td class="CHF">
                            AUDCHF
                        </td>
                        <td class="CHF">
                            1
                        </td>
                        <td class="EUR">
                            EURAUD
                        </td>
                        <td class="EUR">
                            0
                        </td>
                        <td class="GBP">
                            EURGBP
                        </td>
                        <td class="GBP">
                            0
                        </td>
                        <td class="JPY">
                            AUDJPY
                        </td>
                        <td class="JPY">
                            0
                        </td>
                        <td class="NZD">
                            AUDNZD
                        </td>
                        <td class="NZD">
                            0
                        </td>
                        <td class="USD">
                            AUDUSD
                        </td>
                        <td class="USD">
                            1
                        </td>
                    </tr>
                    <!-- Row 7 -->
                    <tr>
                        <td class="AUD">
                            AUDCAD
                        </td>
                        <td class="AUD">
                            0
                        </td>
                        <td class="CAD">
                            AUDCAD
                        </td>
                        <td class="CAD">
                            1
                        </td>
                        <td class="CHF">
                            AUDCHF
                        </td>
                        <td class="CHF">
                            1
                        </td>
                        <td class="EUR">
                            EURAUD
                        </td>
                        <td class="EUR">
                            0
                        </td>
                        <td class="GBP">
                            EURGBP
                        </td>
                        <td class="GBP">
                            0
                        </td>
                        <td class="JPY">
                            AUDJPY
                        </td>
                        <td class="JPY">
                            0
                        </td>
                        <td class="NZD">
                            AUDNZD
                        </td>
                        <td class="NZD">
                            0
                        </td>
                        <td class="USD">
                            AUDUSD
                        </td>
                        <td class="USD">
                            1
                        </td>
                    </tr>
                    <!-- Totals -->
                    <tr>
                        <td>
                        </td>
                        <td class="total">
                            0
                        </td>
                        <td>
                        </td>
                        <td class="total">
                            1
                        </td>
                        <td>
                        </td>
                        <td class="total">
                            1
                        </td>
                        <td>
                        </td>
                        <td class="total">
                            0
                        </td>
                        <td>
                        </td>
                        <td class="total">
                            0
                        </td>
                        <td>
                        </td>
                        <td class="total">
                            0
                        </td>
                        <td>
                        </td>
                        <td class="total">
                            0
                        </td>
                        <td>
                        </td>
                        <td class="total">
                            1
                        </td>
                    </tr>
                </tbody>               
            </table>
        </div>
    </div>
{% endblock %}